* {
  line-height: 1.6em;
}

body {
  background: $color-body;
  color: $color-text;
  padding: $spacer;
  margin: 0;
  font-size: 10pt;

  @include print-version {
    padding: 0;
    background: none;
  }

  @include mobile-version {
    padding: 0;
    font-size: .9em;
  }

}

#page {
  max-width: $page-width;
  margin: 0 auto;
  background: #fff;
  padding: $page-margin;
  box-shadow: 0 0 1em rgba(0,0,0,0.2);

  @include print-version {
    margin: 0;
    padding: 0;
    max-width: none;
    box-shadow: none;
  }

  @include tablet-version {
    margin: 0;
  }
  @include mobile-version {
    padding: $page-margin $page-margin*.5;
    margin-top: $spacer;
  }
}

@include print-version {
  @page {
    margin: $page-margin;
    size: A4;
  }
}

h1, h2, h3 {
  margin: $spacer 0;
}

h2 {
  // color: $color-primary;
}


