* {
  line-height: 1.6em;
}

body {
  background: #fafafa;
  color: $color-text;
}

#page {
  max-width: 800px;
  margin: $page-margin auto;
  background: #fff;
  padding: $page-margin;

  @include print-version {
    margin: 0;
    max-width: none;
  }

  @include tablet-version {
    margin: 0;
  }
  @include mobile-version {
    padding: $page-margin $page-margin*.5;
  }
}

@include print-version {
  @page {
    margin: $page-margin;
    size: A4;
  }
}

h1, h2, h3 {
  margin: $spacer 0;
}

h2 {
  // color: $color-primary;
}


