article {
  margin: $spacer 0;
  display: grid;
  grid-template-columns: 7em auto;
  align-items: center;

  page-break-inside:avoid;

  @include mobile-version {
    display: block;
  }

  h3, .content {
    grid-column-start: 2;
  }

  h3 {

    font-size: 1em;
    margin: 0;

    b { // Position
      text-transform: uppercase;
      display: block;
    }

    i { // Company
      font-weight: 300;

      @include mobile-version {
        font-weight: 700;
      }

      small { // Location
        display: inline-block;
        color: $color-text-light;
        font-size: 1em;
        &::before {
          content: "á§ ";
          margin: 0 .2em;
        }

        @include tablet-version {
          display: block;
          &::before {
            display: none;
          }
        }

      }
    }
  }

  .dates {
    grid-row-start: 1;
    grid-row-end: 2;
    color: $color-text-light;

    @include mobile-version {
      font-size: .9em;
      > * {
        &::before {
          content: " - ";
        }

        &:first-child::before {
          content: "";
        }
      }
    }


    span { // Date
      display: block;

      @include mobile-version {
        display: inline-block;
      }

      text-transform: uppercase;
    }

    i { // Ongoing
      font-style: normal;
      font-size: .9em;
    }
  }

  .content {
    color: $color-content;
    font-size: .9em;

    b {
      color: $color-text;
    }

    p, ul {
      margin: $spacer*0.25 0;
    }

  }

}