header {
  font-size: 1.1em;

  h1 {
    margin-top: 0;
    font-size: 2.5em;
    small {
      display: block;
      font-size: .5em;
      //text-transform: uppercase;
      text-transform: capitalize;
      font-style: italic;
    }
  }

  ul, li {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: $spacer;

    @include tablet-version {
      font-size: .9em;
      grid-template-columns: 1fr;
    }
  }



}