@mixin print-version {
  @media print {
    @content
  }
}

@mixin mobile-version {
  @media screen and (max-width: 550px) {
    @content
  }
}

@mixin tablet-version {
  @media screen and (max-width: 750px) {
    @content
  }
}

